body{ 
    background-color: bisque;
}
.flex-container{
    border: 3px solid black;
    background: cornflowerblue;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    width: 80%;
    height: 700px;
    align-items:start ;
    margin: 0 auto;
}

.caja{
    border: 4px solid rgb(236, 3, 3);
    background-color: rgb(20, 28, 136);
    color: rgb(252, 250, 250);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    line-height: 200px;
    text-align: center;
    margin: 5px;
}
 .c1{
    background: rgb(2, 22, 78);
    order: 3;
    flex-grow: 5;
    flex-basis: 40%;
 }

 .c2{
    background: rgb(235, 193, 6);
    order: 7;
    flex-grow: 3;
 }
 .c3{
    background: rgb(52, 168, 16);
    order: 1;
    flex-grow: 5;
 } 
 
 
 